<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipos Mundial</title>
</head>
<body>
    <form>
        <fieldset>
            <legend>Equipos Mundial</legend>
            <label>Buscar: <input type="text" name="equipos" list="equipos" />
                <datalist id="equipos">
                    {% for equipo in equipos %}
                        <option value="{{equipo.Seleccion}}">
                    {% endfor %}
                </datalist>
            </label>
        </fieldset>
    </form>
    <table>
        <th>Selección</th>
        <th>Continente</th>
        <th>Numero de mundiales ganados</th>
        {% for equipo in equipos %}
        <tr>
            <td style="text-align:center">{{equipo.Seleccion}}</td>
            <td style="text-align:center">{{equipo.Continente}}</td>
            <td style="text-align:center">{{equipo.Num_mundiales}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>